body {
	font-family: "Microsoft yahei", "SimHei";
	color: #fff;
	background: center 0 no-repeat;
	background-position: 50% 50%; 
}

ul{
	list-style-type:none;
}

.clearfix{
	zoom:1;
}

.left{
	float:left;
	display:inline;
}

.right{
	float: right;
	display: inline;
}

#wholePage{
	width: 910px;
	height: 720px;
	margin: 0 auto;
}

#header{
	margin-top: 25px;
	height: 20%;
}

#container{
	width: 910px;
	height: 550px;
	padding-top: 10px;
	background: rgba(224,173,115,0.5);
}

#footer{
	width: 910px;
	height: 35px;
	font-size: 25px;
	line-height: 35px;
	background: rgba(247,187,142,0.5);
	position: relative;
	overflow: hidden;
}

#scrollArea{
	width: 100%;
	height: 100%;
	position: absolute;
}

#scrollContent{
	position: absolute;
	height: 90%;
	top:0;
	left:0;
	overflow: hidden;
}

#logoScroll{
	width: 220px;
	height: 100%;
	display: block;
	background: center 0 no-repeat;
	background-position: 50% 50%; 
}

#wordScroll{
	width: 580px;
	height: 100%;
	margin: auto;
	background: center 0 no-repeat;
	background-position: 50% 50%;
	background-size: initial; 
}

#qrScroll{
	width: 96px;
	height: 100%;
	margin: auto;
	background: center 0 no-repeat;
	background-position: 50% 50%; 
	background-size: initial;
}

#scrollBox{
	width: 440px;
	height: 100%;
}

#numberBox{
	height: 100%;
	width: 106px;
	text-align: center;
	background: center left no-repeat;
}

#numberBox p{
	height: 96px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	line-height: 35px;
}

#wordList{
	width: 440px;
	height: 96px;
	padding-left: 0;
	position: relative;
}

#numberList{
	width: 106px;
	height: 96px;
	padding-left: 0;
	position: relative;
}

#numberList em{
	font-style: normal;
	font-size: 24px;
}

#messageTotal{
	display: block;
	font-size: 24px;
	font-style: normal;
}

#qrImg{
	width: 96px;
	height: 96px;
	margin: auto;
	background: center 0 no-repeat;
	background-position: 50% 50%; 
}

#userBox{
	width: 800px;
	position:relative;
	transform: translate(0px,0px);
	display: block;
	padding-left: 0;
	margin: auto;
	margin-top: 5px;
}

.themeBox{
	width: 100%;
	height: 84px;
	padding-top: 10px;
	font-size: 24px;
	text-align: center;
	line-height: 38px;
	position: absolute;
	overflow: hidden;
}

.userList{
	height: 166px;
	margin-bottom: 15px;
	background: rgba(243,207,182,0.5);
	border-radius: 10px;
}

.userPhoto{
	width: 150px;
	height: 100%;
}

.photo{
	margin-top:23px;
	width: 120px;
	height: 120px;
	border-radius: 60px;
}

.contentBox{
	width: 600px;
	height: 100%;
	color:#bf191d;
	margin-left: 25px;
}

.c-word{
	margin-top: 20px;
	height: 146px;
	padding-left: 20px;
}

.userName{
	font-size: 30px;
	display: inline-block;
	width: 500px;
	height: 38px;
	line-height: 38px;
	overflow: hidden;
}

.displayContent{
	margin-top: 8px;
	display: block;
	word-break: break-all;
	word-wrap: break-word;
	_overflow: hidden;
	font-size: 45px;
	height: 60px;
	line-height: 60px;
}