#resultBox {
	position: absolute;
	width: 100%;
	top: 50px;
	left: 0px;
	text-align: center;
	background-color: navajowhite;
	display: none;
}

#reviewMessages {
	width: 70%;
	margin: 0px 2%;
	float: left;
}

#tbody-messages .td-avatar {
	width: 80px;
}

#tbody-messages .img-avatar {
	width: 50px;
	height: 50px;
}

#tbody-messages .td-name {
	vertical-align: middle;
	width: 15%;
}

#tbody-messages .td-content {
	vertical-align: middle;
}

#tbody-messages .td-operator {
	vertical-align: middle;
	width: 20%;
}

#tbody-messages .td-operator .btn {
	margin-left: 4px;
}

#reviewedMessages {
	width: 25%;
	float: right;
}

#tbody-reviewedMessages .td-name {
	vertical-align: middle;
	width: 25%;
}

#tbody-reviewedMessages .td-content {
	vertical-align: middle;
}

.reviewingMessageTable {
	height: 500px;
	overflow: scroll;
}