{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/index.css" %}"/>
{% endblock %}

{% block js %}
    <script src="{% static "lib/jq/jquery-1.10.2.min.js" %}"></script>
    <script src="{% static "lib/jq/form/jquery.form.min.js" %}"></script>
    <script src="{% static "js/index.js" %}"></script>
{% endblock %}


{% block content %}
<body style="background-image:url({% static "img/bg.jpg" %});">
    <div id="wholePage">
        <div id="header" class="clearfix">
            <div id="logoScroll" class="left" style="background-image:url({% static "img/logo.png" %});"></div>
            <div id="wordScroll" class="left" style="background-image:url({% static "img/sc_bg.png" %});">
                <div id="scrollBox" class="left">
                    <ul id="wordList" class="left">
                            <li class="themeBox" style="display:list-item;">我是微信大屏幕页面<br>     你可以发送你想说的话给我哦！</li>
                            <li class="themeBox" style="display:none;">进入紫荆之声点击微信墙按钮<br>发送内容即可上墙</li>
                            <li class="themeBox" style="display:none;">还等什么！<br>快来墙里玩啊！</li>
                    </ul>
                </div>
                <div id="numberBox" class="left" style="background-image:url({% static "img/left_line.png" %});">
                    <ul id="numberList" class="left">
                        <li class="themeBox" style="font-size:18px;"><em id="msgNum"></em><br>条信息</li> 
                </div>
            </div>
            <div id="qrScroll" class="right">
                <div id="qrImg"><img src="{% static "img/qrCode.png" %}" style="height:100%;width:100%;"></div>
            </div>
        </div><!--header end-->
        <div id="container" class="clearfix">
            <ul id="userBox">
                <li class="clearfix userList" style="display:block;">
                    <div class="userPhoto left">
                        <img src="{% static "img/user1.jpg" %}" class="photo right">
                    </div>
                    <div class="contentBox left">
                        <p class="c-word">
                            <a class="userName">赵小馨</a>
                            <span class="displayContent">我来墙里玩玩一会就走~</span>
                        </p>
                        
                    </div>
                </li>
                <li class="clearfix userList" style="display:block;">
                    <div class="userPhoto left">
                        <img src="{% static "img/user2.jpg" %}" class="photo right">
                    </div>
                    <div class="contentBox left">
                        <p class="c-word">
                            <a class="userName">王小晗</a>
                            <span class="displayContent">别闹，跟我回家~</span>
                        </p>  
                    </div>
                </li>
                <li class="clearfix userList" style="display:block;">
                    <div class="userPhoto left">
                        <img src="{% static "img/user3.jpg" %}" class="photo right">
                    </div>
                    <div class="contentBox left">
                        <p class="c-word">
                            <a class="userName">李小盟++刘小彤</a>
                            <span class="displayContent">带我们一起走！</span>
                        </p>
                        
                    </div>
                </li>
            </ul>
            
        </div>
    </div> 
</body>


{% endblock %}