{% extends "wall_base.html" %}

{% load staticfiles %}

{% block activity-title %}微信墙 — 后台{% endblock %}

{% block nav-li %}
    {% block nav-li-ext %}{% endblock %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/review.css" %}"/>
	<link rel="stylesheet" href="{% static "lib/bs/css/bootstrap-switch.min.css" %}"/>
{% endblock %}

{% block js %}
	<script src="{% static "lib/jq/form/jquery.form.min.js" %}"></script>
    <script>
        var toReviewMessages = [
            {% for message in to_review_message %}
	            {
	            	'id': {{ message.message_id }},
	            	'content': '{{ message.content|escapejs }}',
	            	'time': new Date('{{ message.time|date:"r" }}'),
	            	'name': '{{ message.name|escapejs }}',
	            	'avatar': '{{ message.avatar|escapejs }}'
	            }{% if forloop.last %}{% else %},{% endif %}
            {% endfor %}
        ];
        var newMessagesReviewed = [
            {% for message in new_message_reviewed %}
	            {
	            	'id': {{ message.message_id }},
	            	'content': '{{ message.content|escapejs }}',
	            	'time': new Date('{{ message.time|date:"r" }}'),
	            	'name': '{{ message.name|escapejs }}',
	            	'avatar': '{{ message.photo|escapejs }}'
	            }{% if forloop.last %}{% else %},{% endif %}
            {% endfor %}
        ];
        var whether_review = {{ whether_review }};
		var changeStateUrl =  "{% url "admin_page.views.change_review_state" %}"
		var refreshUrl =  "{% url "admin_page.views.refresh_review_list" %}"

    </script>

	<script src="{% static "lib/socket/socket.io.js" %}"></script>
	<script src="{% static "js/socket_subscribe.js" %}"></script>
	<script src="{% static "lib/bs/js/bootstrap-switch.min.js" %}"></script>
	<script src="{% static "js/websocket_config.js" %}"></script>
    <script src="{% static "js/review.js" %}"></script>
{% endblock %}

{% block username %}
    <a style="float:right" href={% url "admin_page.views.logout" %} >登出</a>
	<a style="float:right" target="_blank" href={% url "admin_page.views.index" %} >打开微信墙</a>
{% endblock %}

{% block content %}
<div class="container clearfix" xmlns="http://www.w3.org/1999/html">
	<div id="resultBox">结果反馈</div>

	<div id="reviewMessages">
	    <div class="panel panel-default">
	        <div class="panel-heading clearfix">
	        	<h3 class="pull-left">待审核消息</h3>
                <button id="allReject" class="btn btn-danger pull-right" style="margin:12px 5px">全部拒绝</button>
                <button id="allPass" class="btn btn-success pull-right" style="margin:12px 5px">全部通过</button>
				<div id="switch" class="switch has pull-right" style="margin:12px 5px">
					{% if whether_review == 1 %}
						<input type="checkbox" name="checkbox" checked />
					{% else %}
						<input type="checkbox" name="checkbox" />
					{% endif %}
				</div>
                <button id="refresh" class="btn btn-default pull-right" style="margin:12px 5px">刷新</button>
	        </div>
	        <div class="reviewingMessageTable">
		        <table class="table table-hover">
		            <thead>
		            <tr>
		                <th></th>
		                <th>用户名</th>
		                <th>内容</th>
		                <th>操作</th>
		            </tr>
		            </thead>
		            <tbody id="tbody-messages">
		            	<!--
						<tr>
							<td></td>
							<td></td>
							<td>暂无待审核消息</td>
							<td></td>
						</tr>
						-->
		            </tbody>
		        </table>
	   		</div>
	    </div>
    </div>

    <div id="rightBar" style="float:right">
	    <div id="reviewedMessages">
	    	<div class="panel panel-default">
	    		<div class="panel-heading clearfix">
	    			<h3 class="pull-left">最新上墙消息</h3>
	    		</div>
		    	<table class="table table-hover">
		    		<thead>
			            <tr>
			                <th>用户</th>
			                <th>内容</th>
			            </tr>
			            </thead>
			            <tbody id="tbody-reviewedMessages">
			            	<!--
			            	<tr>
			            		<td class="noMsg">暂无最新消息</td>
			            	</tr>
			            	-->
			            </tbody>
		    	</table>
	    	</div>
	    </div>

	    <div id="systemMessageBlock">
	    	<div class="panel panel-default">
		        <div class="panel-heading clearfix">
		        	<h3 class="pull-left">系统消息</h3>
	                <button id="modifySystemMessage" class="btn btn-default pull-right" style="margin:12px 5px">修改</button>
		        </div>
		        <div>
			    	<textarea disabled="disabled" class="form-control" rows="3"></textarea>
		   		</div>
		    </div>
	</div>
    <form id="postForm" action="{% url "admin_page.views.review_message" %}" method="post" style="display:none;" role="form">
    	<input id="review-type" type="text" name="type" style="display:none" />
    	<input id="review-msgID" type="text" name="id" style="display:none" />
    </form>
</div>
{% endblock %}
