{% extends "wall_base.html" %}

{% load staticfiles %}

{% block activity-title %}微信墙 — 后台{% endblock %}

{% block nav-li %}
    {% block nav-li-ext %}{% endblock %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/review.css" %}"/>
{% endblock %}

{% block js %}
    <script>
        var toReviewMessages = [
            {% for message in to_review_message %}
	            {
	            	'id': {{ message.message_id }},
	            	'content': '{{ message.content|escapejs }}',
	            	'time': new Date('{{ message.time|date:"r" }}'),
	            	'name': '{{ message.user.name|escapejs }}',
	            	'avatar': '{{ message.user.photo|escapejs }}'
	            }{% if forloop.last %}{% else %},{% endif %}
            {% endfor %}
        ];
        var newMessagesReviewed = [
            {% for message in new_message_reviewed %}
	            {
	            	'id': {{ message.message_id }},
	            	'content': '{{ message.content|escapejs }}',
	            	'time': new Date('{{ message.time|date:"r" }}'),
	            	'userName': '{{ message.user.name|escapejs }}',
	            	'userAvatar': '{{ message.user.photo|escapejs }}'
	            }{% if forloop.last %}{% else %},{% endif %}
            {% endfor %}
        ];
        var postUrl = '{% url "admin_page.views.review_message" %}'
    </script>
    <script src="{% static "lib/jq/form/jquery.form.min.js" %}"></script>
    <script src="{% static "js/review.js" %}"></script>
{% endblock %}

{% block username %}
    <a href={% url "admin_page.views.logout" %} >登出</a>
{% endblock %}

{% block content %}
<div class="container clearfix" xmlns="http://www.w3.org/1999/html">

	<div id="reviewMessages">
	    <div class="panel panel-default">
	        <div class="panel-heading clearfix">
	        	<h3 class="pull-left">待审核状态</h3>
                <button id="allReject" class="btn btn-danger pull-right" style="margin:12px 5px">全部拒绝</button>
                <button id="allPass" class="btn btn-primary pull-right" style="margin:12px 5px">全部通过</button>
	        </div>
	        <table class="table table-hover">
	            <thead>
	            <tr>
	                <th></th>
	                <th>用户名</th>
	                <th>内容</th>
	                <th>操作</th>
	            </tr>
	            </thead>
	            <tbody id="tbody-messages">
	            	<tr id="123">
	            		<td class="td-avatar">
	            			<img class="img-avatar" src="http://tp1.sinaimg.cn/1654555752/180/5694857169/1">
	            		</td>
	            		<td class="td-name">测试一下名字</td>
						<td class="td-content">这里其实应该是一条微信墙的状态啊哈哈哈哈哈哈哈哈哈啊哈</td>
						<td class="td-operator">
							<button class="btn btn-primary">通过</button>
							<button class="btn btn-danger">拒绝</button>
						</td>
	            	</tr>
	            </tbody>
	        </table>
	    </div>
    </div>

    <div id="reviewedMessages">
    	<div class="panel panel-default">
    		<div class="panel-heading clearfix">
    			<h3 class="pull-left">最新上墙状态</h3>
    		</div>
	    	<table class="table table-hover">
	    		<thead>
		            <tr>
		                <th>用户</th>
		                <th>内容</th>
		            </tr>
		            </thead>
		            <tbody id="tbody-reviewedMessages">
		            	<tr id="123">
		            		<td class="td-name">测试一下名字</td>
							<td class="td-content">这里其实应该是一条微信墙的状态啊哈哈哈哈哈哈哈哈哈啊哈</td>
		            	</tr>
		            </tbody>
	    	</table>
    	</div>
    </div>
    <form id="postForm" action="{% url "admin_page.views.review_message" %}" method="post" style="display:none;" role="form">
    	<input id="review-type" type="text" name="type" style="display:none" />
    	<input id="review-msgID" type="text" name="id" style="display:none" />
    </form>
</div>
{% endblock %}