<!DOCTYPE html>
<html>
{% load staticfiles %}
<head lang="zh-CN">
    <meta charset="UTF-8">
    {% block viewport %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    {% endblock %}

    {% block css %}
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="{% static 'css/wall.css'%}" rel="stylesheet" type="text/css" />
    {% endblock %}
<title>{% block title %}我要上墙{% endblock %}</title>
</head>
<body>
    <div class="wrap">
        <div class="login">
            <div class="name">
                <label></label>
                <input>
            </div>
            <div class="photo"></div>
        </div>
    </div>
</body>
</html>