<!DOCTYPE html>
<html>
{% load staticfiles %}
<head lang="zh-CN">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <link href="{% static 'lib/bs/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{% static 'lib/jq/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'lib/bs/js/bootstrap.min.js' %}"></script>
    {% block css %}
    {% endblock %}
    <title>微信墙</title>
</head>
<body class="container">
    <div class="row">

    </div>
</body>
</html>