<!DOCTYPE html>
<html>
{% load staticfiles %}
<head lang="zh-CN">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'css/wall.css'%}" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="{% static 'lib/jq/jquery-1.10.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/wall.js' %}"></script>
    <script type="text/javascript">
    var openid = "{{ openid }}";
    var name = "{{ name }}";
    var photo = "{{ photo }}";
    var get_new_messages = "{% url 'phone_page.views.w_get_new_messages' %}";
    var get_old_messages = "{% url 'phone_page.views.w_get_old_messages' %}";
    </script>

    <title>我要上墙</title>
</head>

<body>
    <div class="wrap">
        <div class="header">
            <h3 class="title">
                活动名称
                <button id="refresh" class="refresh">
                    <i class="fa fa-refresh"></i>
                </button>
            </h3>
        </div>

        <div class="content-wrap">
            <div id="content-container" class="content">
{#                <div class="message">#}
{#                    <div class="message_header">#}
{#                        <div class="photo"><img src="#"/></div>#}
{#                        <div class="message_header_right">#}
{#                            <div class="name">null</div>#}
{#                            <div class="time">null</div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="message_content">null</div>#}
{#                    <div class="message_id" style="display: none">null</div>#}
{#                </div>#}
                <div id="get_old" class="message get_old">
                    <p>More</p>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="f_left">
                <div class="menu-wrap">
                    <div id="menu" class="menu">
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                </div>
            </div>
            <form id="message_form" class="input_form" action="{% url 'phone_page.views.w_post_message' %}" method="post">
                {% csrf_token %}
                <input id="openid" name="openid" class="text_content" type="text" value="{{ openid }}" style="display: none">
                <div class="f_middle">
                    <input id="content" name="content" class="text_content" type="text">
                </div>
                <div class="f_right">
                    <input class="send" type="submit" value="发送">
                </div>
            </form>
        </div>
    </div>
</body>
</html>