body {
    background: rgba(229, 229, 229, 1);
}

html, body {
    margin: 0;
    height: 100%;
}

.container {
    height: 100%;
    min-height: 250px;
}

.loginPanel {
    position: relative;
    top: 50%;
    margin-top: -150px;
}

.row-photo,
.row-name,
.row-error,
.row-submit {
    margin: 15px 0;
}

#photo-input {
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid rgba(164, 164, 164, 1);
    cursor: pointer;
    overflow: hidden;
}

#photo-input img#photo-show {
    height: 100%;
    width: 100%;
}

#photo-input input#photo-file {
    height: 0;
    opacity: 0;
}

#photo-input input#photo-base64 {
    height: 0;
    opacity: 0;
}

#name-error {
    display: block;
    position: relative;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    padding-left: 10px;
    color: rgba(221, 75, 57, 0.9);
    vertical-align: middle;
    background: rgba(255, 242, 242, 1);
    border: 1px solid rgba(221, 75, 57, 0.7);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: 12px;
}

#submit-button {
    display: block;
    position: relative;
    height: 34px;
    line-height: 34px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    background: rgba(0, 189, 60, 1);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

#submit-button.clicked-button {
    background: rgba(80, 205, 100, 0.85);
}
#submit-button.disable-button {
    background: rgba(80, 205, 100, 0.85);
    color: rgba(130, 230, 142, 1);
}

#submit-form {
    opacity: 0;
    height: 0;
}

.loginFooter {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 200px;
    margin: 20px 0 20px -100px;
    font-size: 12px;
    text-align: center;
}

